*{ 
    align-items: center;
    text-align: center; 
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(35,179,215,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 92%);
    }
 
    #text, h6{
        text-align: left; 
    }